#creditsPage {
    #home {
        display: flex;
        justify-content: right;

        #goHome {
            margin: 0.5em;
            padding: 0.2em;
            color: white;
            text-decoration: none;
            transition-duration: 150ms;
            border: solid blue 3px;
            border-radius: 0.5em;

            &:hover {
                border: solid orangered 3px;
                border-radius: 0.5em;
            }
        }
    }
}

#licenseSection {
    color: white;
    padding: 0.2em;

    #packageLice {
        margin: 1em 0;
        font-size: large;
    }

    #links {
        background-color: rgb(255, 255, 255);
        padding: 0.3em;
        color: blue;
        text-decoration: none;

    }

    #lice {
        margin: 1em 0;
        padding: 0.2em;
        background-color: rgb(111, 111, 111);
    }
}